h1,
p {
  font-family: Lato;
}
.form-container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button {
  font-size: 1.6rem;
}
.error{
  color: red;
}